body{
  background: #f7f7f7;
  font-family: Arial;
}

h1{
  color: black;
  text-align: center;
}

a{
display: flex;
 text-decoration: none; 
 font-size: 20px;
 color: black;
 background: white;
 padding: 20px;
 margin: 20px;
}