/* Ultilitarios */

:root {
  --main-color: #f7f7f7;
  --pane-padding: 5px 42px;
  --margin-top: 40px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem;
  background: #f7f7f7;
  display: grid;
  justify-items: center;
  gap: 7.5rem;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.mt-40 {
  margin-top: 5rem;
}

p {
  font-size: 2.5rem;
}

img {
  max-width: 100%;
  display: block;
}

p,
h1,
h2,
h3 {
  margin: 0rem;
}

p {
  font-size: 20px;
  line-height: 1;
}

.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

/* Botoes */

.botoes {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.botoes a {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 1rem 2.5rem;
  background: var(--main-color);
  border-radius: 0.4rem;
  background: white;
}

.botoes a:focus {
  border: solid 0.2rem red;
}

/* Conteudo */

a {
  text-decoration: none;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: white;
  padding: 5rem;
  text-align: right;
  position: relative;
  align-content: center;
  display: grid;
  gap: 1.5rem;
  justify-items: end;
}

.introducao a {
  display: inline-block;
  font-size: 1rem;
  background: red;
  padding: 1rem 1.5rem;
  text-align: bottom;
  border-radius: 0.3rem;
  color: white;
}

.introducao a:hover {
  background-color: #900;
}

.detalhe {
  height: 5px;
  width: 40px;
  background: red;
  position: absolute;
  right: -20px;
  top: 15px;
}

.subtitulo {
  font-size: 4rem;
  padding: 2rem;
  text-align: center;
  place-self: center;
  color: #c6c6c6;
  background-image: url(/ImagensExePosicionamento/onda.svg);
}

.Vantagens {
  background: white;
  padding: 2rem;
}

.Vantagem-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem 1.5rem;
  padding: 1.5rem;
}

.Vantagem-item p {
  grid-column: 2;
}

.Vantagens li:nth-child(odd) {
  background-color: #f7f7f7;
}

.Vantagem-item:hover {
  border: left solid 1px red;
}

.rodape {
  background-color: white;
  text-align: center;
  padding: 1.5rem;
  width: 100%;
}
