/* Ultilitarios */

:root {
  --main-color: #f7f7f7;
  --pane-padding: 5px 42px;
  --margin-top: 40px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: white;
  display: grid;
  justify-items: center;
  gap: 60px;
}

.mt-40{
  margin-top: 40px;
}

h1 , h2 , h3 , p{
font-size: 20px;
}

img{
  max-width: 100%;
  display: block;
}

/* Botoes */

.botoes{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.botoes a{
  color: black;
  text-decoration: none;
  padding: 15px 30px;
  background: var(--main-color);
  border-radius: 4px;
}

/* Conteudo */



.conteudo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.descricao{
  background: #f7f7f7;
  margin: 0px;
}
